// GENERAL
@import "variable/_pokemon", "variable/_yugioh", "variable/_color";

#body_home{
    background-image: url('../img/david-grandmougin-Am1io6KusFM-unsplash.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}